@model IEnumerable<proyecto.Models.Libro>

@{
    ViewBag.Title = "Menu de Libros";
}

<h2>Indice de Libros</h2>

<p>
    <div class="row" style="text-align:right;padding:5px;">
        <a href="~/Libro/Create" class="btn btn-primary"> Registrar Nuevo Libro</a>
    </div>
</p>

@using (Html.BeginForm("Index","Libro"))
{
<p>
    Filtrar por Autor: @Html.TextBox("autor")
    Filtrar por Categoria: @Html.TextBox("categoria")


    <input type="submit" value="Search" />
</p>
}
<table class="table">
    <tr>
        <th>
            Titulo del libro
        </th>
        <th>
            Publicacion
        </th>
        <th>
            Autor
        </th>
        <th>
            Categoria
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.categoria1)
            </td>
            <td>
                <a class="btn btn-warning" href="~/Libro/Edit/@item.id_libro">Editar</a>
                <a class="btn btn-success" href="~/Libro/Details/@item.id_libro">Informacion</a>
                <a class="btn btn-danger" href="~/Libro/Delete/@item.id_libro">Eliminar</a>

                <!--@Html.ActionLink("Edit", "Edit", new { id=item.id_libro }) |
                @Html.ActionLink("Details", "Details", new { id=item.id_libro }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id_libro })-->
            </td>
        </tr>
    }

</table>
